<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Blog </title>	
    <!--<link rel="stylesheet" href="static/css/layouts/blog.css" />-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  </head>

  <style>
    .sidebar{
    color:#d4d4d4;
    font-size:40px;
    background:#4a1e63;
    length:100%;
    }
    .main{
    font-size:25px;
    background-image: linear-gradient(granite,white);
    color:#4a1e63;
    }
    .title{
    font-size:45px;
    maxlength:40;
    width:50%;
    }
    .text{
    font-size:20px;
    padding:20px;
    width: 100%;
    maxlength:5000;
    }
    .image{
    margin: 20px;
    width:80%;
    height:auto;
    }
  </style>

  <body>
    {% block bodycontent %}
    <div class=" pure-g">
      <div class="sidebar pure-u-1-5">
	Bob Loblaw's Law  Blog 
	<br>
	<img class= "image", src="http://img3.wikia.nocookie.net/__cb20121117203508/arresteddevelopment/images/e/e6/3x3_Bob_Loblaw.png">
      </div>
      <div class="main pure-u-4-5">
	<br><br>
	<table class="pure-table pure-table-horizontal">
	  <tr>
	    <form class="pure-form">
	      <fieldset class="pure-group">
		Enter Post Name:
		<br> 
		<input type="text"  class="title pure-input-1-2", placeholder="Post Title">
		<br><br>
		Enter Post Content:
		<textarea rows="20", cols="20"  class="text pure-input-1-2", placeholder="Post Content" ></textarea>
	      </fieldset>
	      <br>
	      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
	    </form>
	  </tr>
	  <tr>
	    <h2>{{t}}</h2>
	    <br>
	    {{txt}}
	  </tr>
	</table>
      </div>
    </div>
  </body>
  {% endblock bodycontent %}
</html>
